name: ENV Demo
on:
  push:

jobs:
  its-smurfin-time:
    runs-on: ubuntu-latest
    env:
      smurf_color: "blue"

    steps:
      - name: Display ENV with GitHub syntax
        run: echo "Smurfs are ${{ env.smurf_color }}!"

      - name: Display ENV with OS
        run: echo "Smurfs are $smurf_color!"
        
      - name: Override the job-level ENV
        run: echo "Smurfs are $smurf_color!"
        env:
          smurf_color: green
          
