name: jorb one

on:
  issues:
    types:
      - opened

jobs:
  job-one:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Dark Helmet says hello
        run: |
          echo "I am your father's brother's nephew's cousin's former roommate."
          echo "Issue number: #${{ github.event.issue.number }}"
          echo "Issue title:  ${{ github.event.issue.title }}"
